@use 'abstracts/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

// General styles
html{
    font-size: 18px;
    overflow-x: hidden;
}

body, p{
    font-family: 'Barlow', sans-serif;
}
ul{
    list-style: none;
}
button{
    border: none;
    background-color: transparent;
    color: $LightGrayishBlue;
}
.img{
    width: 100%;
    max-width: 85em;
    margin: 0 auto;
}
header{
    background:#fff;
}

ul li, .hero__text > *:not(p){
    text-transform: uppercase;
}
.box{
    width: 55%;
    height: 20em;
    background: $LightGrayishBlue;
    position: absolute;
    top: 0;
    border-radius: 0 0 2em 2em;
    right: 0;
    z-index: -1;
}

// Header
.header{
    padding: 2em 1.2em;
    max-width: 80em;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    font-family: 'Barlow Condensed', sans-serif; 

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

    
        // Nav Links
        #nav-links{
    
            // Mobile Menu
            position: absolute;
            top: 27%;  
            left: 50%; 
            transform: translate(-50%, -50%); 
            font-family: 'Barlow', sans-serif;
            padding: 3em 6.5em;
            display: flex;  
            flex-direction: column;
            cursor: pointer;
            background-color: #fff;
            box-shadow: .2em .1em .15em  rgba(44, 44, 44, 0.24);
            font-weight: 900;
            gap: 1em;
            text-align: center;
            display: none;

            &.showMenu{
                display: flex;
            }

            li{
                &:last-of-type{
                    color: rgba(44, 44, 44, 0.685);
                    padding: 1em 0; 

                    @media (max-width:650px){
                        &::before{
                            content: '';
                            position: absolute;
                            left: 6%;
                            top: 9.5em;
                            width: 90%;
                            height: .1em;
                            background-color: rgba(44, 44, 44, 0.123);
                        }
                    }
                }
            }
            @media (min-width:650px) {
                all: inherit;
                text-transform: uppercase;
                gap: 1em;
                font-weight: 600;
                color: $VeryDarkBlue;
                li{
                    all: inherit;
                    cursor: pointer;
                    transition: all .2s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                & li:last-of-type{   
                    color: $GrayishBlue;
                }
            }
            .span{
                width: .45em;
                height: .45em;
                align-self: center;
                margin: 0 1em;
                background-color: $GrayishBlue;
                border-radius: 50%;

                @media (max-width:650px) {
                    display: none;
                }
            }
        }

        // Toggle menu
        #toggle-menu{
            cursor: pointer;
            display: flex;
            align-items: center;

            @media (min-width:650px) {
                display: none;
            }

            #closeMenu{
                display: none;
            }
        }
    }
   
}
// Hero Section
.hero{
    padding: 4em 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap:1.25em;

    &__text{

        h3:first-child{
            display: flex;
            align-items: center;
            gap: .5em;
            color: $GrayishBlue;
            font-weight: 400;
            letter-spacing: .1em;

            span{
                background-color: $VeryDarkBlue;
                padding: .1em .6em;
                border-radius: 1em;
                color: $LightGrayishBlue;
            }
        }
        h1{
            color: $VeryDarkBlue;
            font-size: clamp(1.8rem, 4vw, 2.8rem);
        }
        p{
            color: $DarkGrayishBlue;
            font-size: clamp(1rem, 2vw, 1.2rem);
        }

        // Cta
        &-cta{
            display: flex;
            align-items: center;
            gap: 1em;            

            // All direct children
            & > *{  
                width: 100%;
                cursor: pointer;
                font-size: clamp(1rem, 2vw, 1.2rem);
            }
            // Cta 
            .cta{
                background-color: $red;
                font-weight: 600;
                border-radius: .45em;
                text-transform: uppercase;
                padding: .8em 1em;
                letter-spacing: .1em;
                transition: opacity .3s;

                &:hover{
                    opacity: .7;
                }
            }
            h3{
                font-weight: 500;
                color: $GrayishBlue;
                letter-spacing: .1em;
                
            }

            @media (min-width:900px) {
                margin-top: 4em;
            }
        }


        @media (max-width:750px) {
            order: 2;
        }
    }
    
    @media (min-width:1100px) {
        grid-template-columns: 1fr 2fr;
    }

}